
*{
  font-family: "Rubik", sans-serif;

}.login_section{
  padding: 0px 150px;
  
  display: flex;
  align-content: center;
  height: 700px;
  justify-content: center;
  /* background-image:url(../image/3.jpg); */
  background-color: #EED0C8;
  background-image: url(../image/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  
    


}



.login_form{

   /* margin: 0px 150px; */
    border: .25px solid;
    border-radius: 30px;
    padding: 30px;
    width: 450px;
     background: rgba(0, 0, 0, .75);
     /* position: center; */
     height: 400px;
     align-self: center;

  }
  .login_form ul{
    color: white;
    margin: 15px;
    display: flex;
    justify-content:space-evenly;
    padding: 0px;
    list-style: none;
    border: .5px solid gray;
    /* height: 50px; */
     padding: 20px;
     border-radius: 30px;
     font-size: 18px;


  }
  .login_form li:hover{
    color: #B72840;
    
  }
  

  
  button{
    width: 100%;
    padding: 16px 0;
    /* font-size: 1rem; */
    background:rgb(183, 40, 64);
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    margin: 25px 0 10px;
  }
  button:hover{
    background-color:#F7E4EB ;
    color:#B72840
  }
  .login_form input{
  height: 40px;
  width: 100%;
  background: #333;
  border: none ;
  border-radius: 10px ;
  margin: 10px 0px;
  font-size: 20px;
  color: white;
  /* text-align: center; */
  
  /* padding: 10px; */
}
.login_form form{
  margin: 30px;
}


  